<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   
  <connectionStrings>
    <add name="umbracoDbDSN" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         providerName="System.Data.SqlClient"
         connectionString="server=.\SQLEXPRESS;database=temata;Trusted_Connection=True;" />
  </connectionStrings>
  
  <system.web>
      <customErrors mode="On" xdt:Transform="Replace"></customErrors>
  </system.web>
</configuration>