<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ab47ceb-3139-4d78-a3f8-86d8e8881b7b" Alias="embeddableWidget" Level="1">
  <Info>
    <Name>Embeddable Widget</Name>
    <Icon>icon-brackets color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3a7b6e96-9505-4094-baf4-26e0c1e811d8</Key>
      <Name>Target Element ID</Name>
      <Alias>targetElementID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The ID of the element where the widget will be prepended to.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>