<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b97bb71d-894f-4453-9d92-aaca925fe97a" Alias="media" Level="1">
  <Info>
    <Name>Media</Name>
    <Icon>icon-library color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dcd97df3-8b69-4e7f-8672-0438c297002f" SortOrder="0">submissionWidget</ContentType>
    <ContentType Key="b97bb71d-894f-4453-9d92-aaca925fe97a" SortOrder="1">media</ContentType>
    <ContentType Key="dc1a127f-2168-408f-8c77-f85c9a33bffa" SortOrder="2">redirectWidget</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>