<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc1a127f-2168-408f-8c77-f85c9a33bffa" Alias="redirectWidget" Level="1">
  <Info>
    <Name>Redirect Widget</Name>
    <Icon>icon-sharing-iphone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="0ab47ceb-3139-4d78-a3f8-86d8e8881b7b">embeddableWidget</Composition>
    </Compositions>
    <DefaultTemplate>RedirectWidget</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4fee6c49-5d44-4dd2-a4c5-2b9a32e1a4a8">RedirectWidget</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d88ad08a-ddc5-478b-b36d-69f6384e01b1</Key>
      <Name>Call to Action Backgroud Colour</Name>
      <Alias>callToActionBackgroudColour</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Branding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06fb66be-1c4e-4a0e-9b31-026a00da14b1</Key>
      <Name>Button Text</Name>
      <Alias>ctaButtonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Call to Action</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e55b0ed-5070-4b93-85f4-0aec3a8b8e2a</Key>
      <Name>Heading</Name>
      <Alias>ctaHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Call to Action</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>881421dd-8be3-4d8d-b4ec-d20276647573</Key>
      <Name>Redirect URL</Name>
      <Alias>redirectURL</Alias>
      <Definition>17b76d8e-b8b2-489e-bedd-91a67a149537</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Call to Action</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Call to Action</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Branding</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>