<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcd97df3-8b69-4e7f-8672-0438c297002f" Alias="submissionForm" Level="1">
  <Info>
    <Name>Submission Form</Name>
    <Icon>icon-autofill color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SubmissionForm</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4811d082-e9f0-489b-b06f-c89773d5ade2">SubmissionForm</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="27a4b76a-06d5-4956-8039-096fe5dc12da" SortOrder="0">submission</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>17e0fa15-bb29-4461-9452-7e22a8afb021</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Fields</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Fields</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>