<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0108d894-3567-4281-80f3-3e60f429f727" Alias="Boolean (true by default)" Level="1">
  <Info>
    <Name>Boolean (true by default)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>