<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8669f8ee-212e-4935-8433-54cd703fd34b" Alias="Collection Process" Level="1">
  <Info>
    <Name>Collection Process</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "processStep",
      "ncTabAlias": "Content",
      "nameTemplate": "{{ label }}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>