<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cad4509-a03a-4e29-bc5b-eb3362f578b8" Alias="Submission Form - Media Store Folder - Media Picker" Level="1">
  <Info>
    <Name>Submission Form - Media Store Folder - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Folder",
  "Multiple": false,
  "ValidationLimit": {
    "min": 0,
    "max": 1
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>